 <%= f.simple_fields_for :form_first do |p| %>
  <div class="first_form_task" hidefocus="1" tabindex="1">
  <div class="title">
     <h1>Staff Interview and Recruitment</h1>
  </div>
  <div class="inputs frm_fst">
    <div class="name">
      <div class="f_name">
        <%= f.label :name, 'Name of applicant :' %>
        <%= p.input :name_of_applicant, label: false , input_html: { minlength: 1, tabindex: -1 }%>
      </div>
      <div class="f_position">
        <%= f.label :name, 'Position applied for :' %>
        <%= p.input :position_applied_for, label: false , input_html: { minlength: 1 } %>
      </div>
    </div>
    <div class="part_a">
      <%= p.input :part_a_first_interview_date %>
      <%= p.input :name, input_html: { minlength: 1 } %>
    </div>
    <div class="interview">
      <label>Interviewer's comments on whether vis-a-vis the minimum qualification and selection criteria.</label>
      <%= p.text_area :interviewer_comment_first, :rows => 8, placeholder: ""  %>
      <label>Interviewer's comments on suitability of the applicant for the position</label>
      <%= p.text_area :interviewer_comment_second, :rows => 8, placeholder: "" %>
      <label>Any other comments/conditions for recruitment
      </label>
      <%= p.text_area :interviewer_comment_others, :rows => 8, placeholder: "" %>
    </div>
    <div class="part_a">
      <%= p.input :part_b_first_interview_date %>
      <%= p.input :part_b_name, input_html: { minlength: 1 } %>
    </div>
    <div class="interview">
      <label>Interviewer’s comments </label>
      <%= p.text_area :interviewer_comments, :rows => 8, placeholder: ""  %>
    </div>
    
    <p><span>Part C: Approval to Hire</span>(by Management Team for non-academic staff; and by Management Team and Academic Board for academic staff: or their respective authorized representatives)</p>
    <div class="part_c">
      <%= p.input :part_c_name, input_html: { minlength: 1 } %>
      <%= p.input :part_c_signature, input_html: { minlength: 1 } %>
      <%= p.input :part_c_date %>
    </div>
    <div class="c_part">
      <%= p.input :part_c_name_1, input_html: { minlength: 1 } %>
      <%#= p.input :part_c_signature_1, input_html: { minlength: 1 } %>
      <%= p.input :part_c_date_1 %>
    </div>
    <div class="c_part">
      <%= p.input :part_c_name_2, input_html: { minlength: 1 } %>
      <%#= p.input :part_c_signature_2, input_html: { minlength: 1 }  %>
      <%= p.input :part_c_date_2 %>
    </div>
   </div>
  </div>
<% end %>
  

