<div class="taskForm for_task">
  <div class="halfLeft">
    <div class="blockForm2">
      <label class="top req task_name">Task Title:</label>      
      <div class="span2">
       <%= f.text_field :name, :autofocus => true, required: true %>
      </div>
    </div>
    <% indx = 0 %>
    <% TaskFormTag.where(:status => true).each do |tag| %>
    <%

     tag_values = TaskFormTagValue.all.where(:company_id => current_user.company_id).where(:task_form_tag_id => tag.id)
    %>
    <% if tag_values.size > 0 %>
    <div class="blockForm2">
      <label class="top task_name"><%= tag.name%>:</label>      
      <div class="span2">
        <%#= select_tag %>
       <% 
         selected_value = ""
         last = @task.option_values.where(:task_form_tag_id => tag.id).last
         if last
            selected_value = last.task_form_tag_value_id
         end   
        

       %>
       <%= select_tag "option_value[#{tag.id}]", options_from_collection_for_select(tag_values, "id", "name", selected_value ), include_blank: "Please select an option", :class => 'select2_tag selectWorkflow' %>
       <%#= task_form_tag_value_id %>
       <%#=  f.input "option_value[#{indx}]", :collection => tag_values.map{|s|[s.name, s.id]}, label: false , input_html: { class: 'select2_tag' }  %>
      </div>
    </div>  
    <% if indx%2 == 0 %>
     <div class="cl"></div>
    <% end %>
    <% indx = indx + 1 %>
    <% end %>
    <% end %>

         
 
   <div class="blockForm2 bottom">
      <label class="req">Due:</label>      
      <div class="span2">
        <%= f.hidden_field :bucket, :value => 'specific_time' %>
       <% with_time = Setting.task_calendar_with_time %>
        <% if @task.bucket != "specific_time" %> 
        <% bucket = (params[:bucket].blank? ? @task.bucket : params[:bucket]) || "due_asap" %>

          <%#= f.select :bucket, @bucket, { :selected => bucket.to_sym }, { :style => "", :onload => "crm.flip_calendar(this.value)" } %>
        <%= f.text_field :calendar, :autocomplete => :off, :class => 'datetime_due dueAT', required: true %>
        <% else %>
          <%#= f.select :bucket, @bucket, { :selected => :specific_time }, { :style => "", :onchange => "crm.flip_calendar(this.value)" } %>
          <% fmt = with_time ? '%Y-%m-%d %H:%M' : '%Y-%m-%d' %>
          <%= f.text_field :calendar, :value => f.object.due_at.strftime(fmt), :autocomplete => :off, :class => 'datetime_due dueAT', required: true %>
        <% end %>
      </div>
    </div>

    <div class="blockForm2">
      <label class="req">Assign to:</label>      
      <div class="span2">
        <%= multi_user_select(:task, all_users, @task.id) %>
      </div>
    </div>
    <% if Setting.background_info && Setting.background_info.include?(:task) %>

    <div class="blockForm2">
      <label class=""><%= t(:extra_info).capitalize << ':' %></label>      
      <div class="span2">
        <%= f.text_area :background_info, :style =>"width:500px", :rows => 3 %>
      </div>
    </div>
    <% end %>
    <%= hook(:task_top_section_bottom, self, :f => f) %>   
  </div>
  <div class="halfRight">
    <% if @user_tasks.present? %>
      <div class="blockForm2 assigned">
        <label class="label top req task_assign">Task assigned to:</label>
        <div class="selected_users">
          <% if @task.task_created_id === current_user.id %>
            <ul id="sortable" class="sort-list">
          <% else %>
            <ul class="sort-list">
          <% end %>
              <% if @user_tasks.present? %>
                <% @user_tasks.each do |user_task| %>
                    <%  @user = User.find(user_task.user_id) %>
                    <li class="user_list ui-state-default" data-utid="UserTask-<%=user_task.id%>">
                      <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                      <%= @user.name %>
                    </li>
                <% end %>
              <% end %>
            </ul>
        </div> 
      </div>   
    <% end %>
  </div>
  <div class="cl"></div>
  <% if action_name == "new" || @task.task_created_id == current_user.id %>
    <div class="task_password_protected">
      <div class="span2">
       <%= f.check_box :password_protected %>
      </div>
      <label class="top">Set password for task:</label>      
    </div>
    <div class="cl"></div>
    <div class="blockForm2 password_box" style="display: <%= @task.password_protected ? 'block' : 'none'; %>">
      <label class="top task_password">Password:</label>      
      <div class="span2">
       <%= password_field_tag :password %>
      </div>
    </div>
    <div class="blockForm2 password_box" style="display: <%= @task.password_protected ? 'block' : 'none'; %>">
      <label class="top task_password">Password Confirmation:</label>      
      <div class="span2">
       <%= password_field_tag :password_confirmation %>
      </div>
    </div>
    <div class="cl"></div>
  <% end %>
</div>

<% unless action_name == "new" || @task.task_created_id == current_user.id || current_user.is_admin? || current_user.is_manager? %>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#task_name, .selectWorkflow, .dueAT, .taskForm .assignedUserSelect").attr("disabled",true);
    });
  </script>
<% end %>

<script type="text/javascript">
  $(document).ready( function() {
    // setTimeout(function(){ 
    //   $("ul.select2-selection__rendered li.select2-selection__choice").remove();
    //   $("ul#sortable li").each(function() {
    //     var text = $(this).text();
    //     $("ul.select2-selection__rendered li.select2-search.select2-search--inline").prepend("<li class='select2-selection__choice' title='"+text+"><span class='select2-selection__choice__remove' role='presentation'>×</span>"+text+"</li>");
    //   });
    // }, 300);

    $(document).on('click focus', 'input.datetime_due', function() {
      var dateToday = new Date();
      $(this).datetimepicker({
        showOn: 'focus',
        minDate: dateToday,
        changeMonth: true,
        dateFormat: 'yy-mm-dd'})
    });

    $('#users_').on('select2:select select2:unselecting', function (e) {
      var task_id = this.closest("form").id.split("_")[2];
      if (e.params.name === "unselect") { 
        var event_name = "unselect";
        var user_name = e.params.args.data.text;
        var arr = { "task_id": task_id, "user_id": e.params.args.data.id, "type": event_name };
      } else {
        var user_name = e.params.data.text;
        var event_name = "select";
        var arr = { "task_id": task_id, "user_id": e.params.data.id, "type": event_name };
      }
      $.ajax({
        url: "/tasks/find_user_task",
        data: arr,
        type: 'GET',
        dataType: 'script',
        success: function (resp) {
          if (resp && event_name === "select") {
            var lastElem = document.getElementById("sortable").lastElementChild;
            var cloneElem = lastElem.cloneNode();
            cloneElem.setAttribute("data-utid", "UserTask-"+resp);
            var spanElem = lastElem.firstElementChild;
            cloneElem.appendChild(spanElem.cloneNode());
            cloneElem.append(user_name);
            document.getElementById("sortable").appendChild(cloneElem);
          } else if(event_name === "unselect") {
            $("#sortable li").each(function() {
              if (this.innerText.includes(user_name)) {
                this.remove();
              }
            });
          }
        }  
      });
    });
    
    $(".task_password_protected input").on("click", function() {
      if ($(this).is(":checked")) {        
        $(".password_box").show();
      } else {
        $(".password_box").hide();
      }
    });
 
    $( "#sortable" ).sortable({
      start: function(event, ui) {
        // ui.item.startPos = ui.item.index();
      },
      stop: function(event, ui) {
        $("ul#sortable > li").each(function() {
          var index = $(this).index();
          var user_task_id = $(this).data("utid").split("-")[1];
          var arr = { "user_task_id": user_task_id, "position": index+1 };
          $.ajax({
            url: "user_tasks/set_position/",
            data: arr,
            type: 'POST',
            success: function (resp) {
                // alert(resp);
            },
            error: function(e) {
              alert('User ordering unsuccessful for some reason.');
            }  
          });
        });
      }
    });
  });
</script>
