<div class="taskForm">
  <div class="halfLeft">
    <table style="width:100%;">
    <tr>
      <td colspan="3">
        <div class="label top req task_name">Name:</div>
        <%= f.text_field :name, :autofocus => true %>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <div class="label top req task_name">Description:</div>
        <%= f.text_area :description %>
      </td>
    </tr>
    <tr class="userTask">
      <td>
        <div class="label req">Due:</div>
        <% with_time = Setting.task_calendar_with_time %>
        <% if @task.bucket != "specific_time" %> 
        <% bucket = (params[:bucket].blank? ? @task.bucket : params[:bucket]) || "due_asap" %>
          <%= f.select :bucket, @bucket, { :selected => bucket.to_sym }, { :style => "width:160px;", :onload => "crm.flip_calendar(this.value)" } %>
        <%= f.text_field :calendar, :style => "width:160px; display: none;", :autocomplete => :off, :class => (with_time ? 'datetime' : 'date') %>
        <% else %>
          <%= f.select :bucket, @bucket, { :selected => :specific_time }, { :style => "width:160px;", :onchange => "crm.flip_calendar(this.value)" } %>
          <% fmt = with_time ? '%Y-%m-%d %H:%M' : '%Y-%m-%d' %>
          <%= f.text_field :calendar, :value => f.object.due_at.strftime(fmt), :style => "width:160px; display: none;", :autocomplete => :off, :class => (with_time ? 'datetime' : 'date') %>
        <% end %>
      </td>
      <td colspan="2" class="firstTd">
        <div class="label req">Assign_to:</div>
        <%= multi_user_select(:task, all_users, @task.id) %>
      </td>
      <% if action_name == "new" %>
        <td class="upload">
          <input type="file" name="file_upload">
        </td>
      <% end %>
      <!-- <td>
        <div class="label req">#{t :category}:</div>
        <%#= f.select :category, @category, { :selected => @task.category.blank? ? nil : @task.category.to_sym, :include_blank => t(:select_blank) }, { :style => "width:160px" } %>
      </td> -->
    </tr>
    <% if Setting.background_info && Setting.background_info.include?(:task) %>
      <tr>
        <td>(colspan="2")
          <div class="label">
            <%= t(:extra_info).capitalize << ':' %>
          </div>
          <%= f.text_area :background_info, :style =>"width:500px", :rows => 3 %>
        </td>
      </tr>
    <% end %>
    <%= hook(:task_top_section_bottom, self, :f => f) %>
  </table>    
  </div>
  <div class="halfRight">
    <div class="selected_users">
          <ul id="sortable">
            <% if @user_tasks.present? %>
              <% @user_tasks.each do |user_task| %>
                <%  @user = User.find(user_task.user_id) %>
                <li class="user_list ui-state-default" data-utid="UserTask-<%=user_task.id%>">
                  <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                  <%= @user.username %>
                  <!-- <bdo style="float: right;">
                    <%# vito_status = get_vito_status(user_task.task_id, user_task.user_id) %>
                    <%# v_stat = "checked" if vito_status %>
                    <%#= radio_button_tag "vito", user_task.task_id, vito_status, :class => "user_vito_status", :onclick => link_to_vito(user_task.task_id, user_task.user_id), :checked => v_stat %>
                  </bdo> -->
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>    
  </div>
  <div class="cl"></div>
</div>
<script type="text/javascript">
  $(document).ready( function() {
    // setTimeout(function(){ 
    //   $("ul.select2-selection__rendered li.select2-selection__choice").remove();
    //   $("ul#sortable li").each(function() {
    //     var text = $(this).text();
    //     $("ul.select2-selection__rendered li.select2-search.select2-search--inline").prepend("<li class='select2-selection__choice' title='"+text+"><span class='select2-selection__choice__remove' role='presentation'>×</span>"+text+"</li>");
    //   });
    // }, 300);

    $( "#sortable" ).sortable({
      start: function(event, ui) {
        // ui.item.startPos = ui.item.index();
      },
      stop: function(event, ui) {
        $("ul#sortable > li").each(function() {
          var index = $(this).index();
          var user_task_id = $(this).data("utid").split("-")[1];
          var arr = { "user_task_id": user_task_id, "position": index+1 };
          $.ajax({
            url: "user_tasks/set_position/",
            data: arr,
            type: 'POST',
            success: function (resp) {
                // alert(resp);
            },
            error: function(e) {
              alert('Error: '+e);
            }  
          });
        });
      }
    });
  });
</script>