 <%= f.simple_fields_for :form_second do |p| %>
<div class="inputs frm_scnd">
    <div class="frm_scnd_name">
      <%#= f.input :name %>
      <div class="modle_name bbr">
        <%= p.input :module_title %>
      </div>
      <div class="modle_name bb">
        <%= p.input :course_date %>
      </div>
      <div class="modle_name br">
        <%= p.input :course %>
      </div>
      <div class="modle_name">
        <%= p.input :module_toucht_by_id %>
      </div>
    </div>
    

    <div class ="task_detail">
      <div class="t_details_first">
        <%= p.input :week_1, :label => 'Week' %>
      </div>
      <div class="t_details_second">
        <%= p.input :topic_1, :label => 'Topic in syllabus' %>
      </div>
      <div class="t_details_third">
        <%= p.input :textbook_1, :label => 'Textbook / chapters / pages' %>
      </div>
      <div class="t_details_fourth">
        <%= p.input :teaching_activity_1, :label => 'Teaching and Learning Activities / Assessment (Planned)' %>
      </div>
      <div class="t_details_fifth">
        <%= p.input :teacher_remark_1, :label => 'Teacher’s Remarks (e.g. variations from plan, reasons, etc)
' %>
      </div>
      <div class="t_details_last">
        <%= p.input :supervisor_remark_1, :label => 'Supervisor’s Remarks and Date' %>
      </div>
    </div>
    <div class ="task_detail blank">
      <div class="t_details_first">
        <%= p.input :week_2, label: false  %>
      </div>
      <div class="t_details_second">
        <%= p.input :topic_2, label: false %>
      </div>
      <div class="t_details_third">
        <%= p.input :textbook_2, label: false  %>
      </div>
      <div class="t_details_fourth">
        <%= p.input :teaching_activity_2, label: false  %>
      </div>
      <div class="t_details_fifth">
        <%= p.input :teacher_remark_2, label: false  %>
      </div>
      <div class="t_details_last">
        <%= p.input :supervisor_remark_2, label: false  %>
      </div>
    </div>
    <div class ="task_detail blank">
      <div class="t_details_first">
        <%= p.input :week_3, label: false  %>
      </div>
      <div class="t_details_second">
        <%= p.input :topic_3 , label: false%>
      </div>
      <div class="t_details_third">
        <%= p.input :textbook_3, label: false  %>
      </div>
      <div class="t_details_fourth">
        <%= p.input :teaching_activity_3, label: false  %>
      </div>
      <div class="t_details_fifth">
        <%= p.input :teacher_remark_3, label: false  %>
      </div>
      <div class="t_details_last">
        <%= p.input :supervisor_remark_3, label: false  %>
      </div>
    </div>
    <div class ="task_detail blank">
      <div class="t_details_first">
        <%= p.input :week_4 , label: false %>
      </div>
      <div class="t_details_second">
        <%= p.input :topic_4, label: false %>
      </div>
      <div class="t_details_third">
        <%= p.input :textbook_4, label: false  %>
      </div>
      <div class="t_details_fourth">
        <%= p.input :teaching_activity_4, label: false  %>
      </div>
      <div class="t_details_fifth">
        <%= p.input :teacher_remark_4, label: false  %>
      </div>
      <div class="t_details_last">
        <%= p.input :supervisor_remark_4, label: false  %>
      </div>
    </div>
    <div class ="task_detail blank">
      <div class="t_details_first">
        <%= p.input :week_5, label: false  %>
      </div>
      <div class="t_details_second">
        <%= p.input :topic_5, label: false %>
      </div>
      <div class="t_details_third">
        <%= p.input :textbook_5, label: false  %>
      </div>
      <div class="t_details_fourth">
        <%= p.input :teaching_activity_5, label: false  %>
      </div>
      <div class="t_details_fifth">
        <%= p.input :teacher_remark_5, label: false  %>
      </div>
      <div class="t_details_last">
        <%= p.input :supervisor_remark_5, label: false  %>
      </div>
    </div>
  </div>
 <% end %> 