 <%= f.simple_fields_for :thrid_form do |p| %>
 <div class="first_form_task">
  <div class="title">
     <h1>FORM</h1>
  </div>
  <div class="inputs frm_scnd third">
     <div class="frm_scnd_name">
      <div class="modle_name bbr">
        <%= p.input :module_title, input_html: { minlength: 1 }  %>
      </div>
      <div class="modle_name bb">
        <%= p.input :module_syllabus_no, input_html: { minlength: 1 }  %>
      </div>
      <div class="modle_name br">
        <%= p.input :course, input_html: { minlength: 1 }  %>
      </div>
      <div class="modle_name">
        <%= p.input :module_toucht_by, input_html: { minlength: 1 }  %>
      </div>
    </div>
    <div class="inform">
      <%= p.input :relevent_information, input_html: { minlength: 1 }  %>
      <%= p.input :student_performance, input_html: { minlength: 1 }  %>
      <%= p.input :evaluation, input_html: { minlength: 1 }  %>
      <%= p.input :module_development, input_html: { minlength: 1 }  %>
    </div>
    <div class="develop">
      <%= p.input :module_development_submitted_by, input_html: { minlength: 1 }  %>
      <%= p.input :module_development_submitted_date, input_html: { minlength: 1 }  %>
    </div>
    <div class="inform">
      <%= p.input :comments, input_html: { minlength: 1 }  %>
    </div>
    <div class="lst_clm">
      <%= p.input :comments_name, input_html: { minlength: 1 }  %>
      <%= p.input :comments_signature, input_html: { minlength: 1 }  %>
      <%= p.input :comments_designation, input_html: { minlength: 1 }  %>
      <%= p.input :comments_date, input_html: { minlength: 1 }  %>

    </div>
   </div>
  </div>
<% end %>