<div class="remote">
  <%= simple_form_for(@task, html: { :multipart => true }, :remote => true) do |f| %>
    <%= link_to_close edit_task_path(@task) %>
    <%= hidden_field_tag :view, @view %>
    <%= hidden_field_tag "task[asset_id]", "#{@asset.id if @asset}" %>
    <%= hidden_field_tag "task[asset_type]", "#{@asset.class if @asset}" %>
    <%= render "tasks/new_top_section",    :f => f, :edit => true %>
    <%= render "fields/groups", :f => f, :edit => true %>

<% if @task.form_number == 1 %>
<% @form_first = FormFirst.find(@task.form_first_id) %>
 <%= render "first_form", :f => f %>

<% elsif @task.form_number == 2 %>
   <%= render "second_form", :f => f %>
<% elsif @task.form_number == 3 %>
   <%= render "third_form", :f => f %>
<% end %>



    <div class="buttonbar">

      <%= f.submit t :save_task %>
      
      <div class="cl"></div>
    </div>
  <% end %>
</div>


