<div class="standalone">
  <%= form_for(@task, :url => change_task_password_task_path(@task), :method => :post, :html => {:style => "padding: 30px 0px;"}) do |f| %>
    <div class="title">Reset Task Password</div>
    <%= f.error_messages :object_name => t('password') %>
    <div class="section">
      <div class="label">New Password:</div>
      <%= f.password_field :password %>
      <div class="label">Password Confirmation:</div>
      <%= f.password_field :password_confirmation %>
    </div>
    <br/>
    <div class="buttonbar">
      <%= f.submit "Update Password" %>
    </div>
  <% end %>
</div>
