<%= tinymce_assets %>
<div class="remote">
  <%= simple_form_for(@task) do |f| %>
 
    <%= hidden_field_tag :view, @view %>
    <%= hidden_field_tag "task[asset_id]", "#{@asset.id if @asset}" %>
    <%= hidden_field_tag "task[asset_type]", "#{@asset.class if @asset}" %>
    
  
    <%= render "fields/groups", :f => f, :edit => true %>

<% if @task.form_number == 1 %>
 <%= render "first_form", :f => f %>
<% elsif @task.form_number == 2 %>
   <%= render "second_form", :f => f %>
<% elsif @task.form_number == 3 %>
   <%= render "third_form", :f => f %>
<% elsif @task.form_number == 4 %>
   <%= render "task_file" %>
<% end %>

<% if current_user.admin == true || @task.task_created_id == current_user.id%>
  <%= render "tasks/new_top_section",    :f => f, :edit => true %>
    <%= f.label :is_cancelled, "Cancelled" %>
       <%=  f.input_field :is_cancelled %>  
<% end %> 

<% if action_name != "new" %>
    <div class="buttonbar first">
      <div class="second">
       <%= radio_button("task", "completed", "1") %> <span class="text"> Completed </span>
      </div>
      <div class="second">
       <%= radio_button("task", "completed", "2") %> <span class="text"> Rejected </span>
      </div>
      

     
    </div>
    <div>
      <ul>
        <% @task.file_uploads.each do |file| %>
          <li>
            <%#= link_to(file.file_name, show_files_path(:url => file.file), :target => "_blank") %>
            <span data-url="<%=file.file%>" class="openpop">
              <%= file.file_name %>
            </span>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %> 

    <div class="buttonbar">

      <%= f.submit t :save_task %>
      
      <div class="cl"></div>
    </div>
  <% end %>
</div>

<div class="modal" id="myModal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">x</span>
    <div class="wrapper">
      <div class="popup">
        <iframe class="popuptext">
          <p>Your browser does not support iframes.</p>
        </iframe>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready( function() {
     // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementsByClassName("openpop");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal 
    $(".openpop").on("click", function(e) {
      //e.preventDefault();
      $("iframe").attr("src", $(this).data('url')).attr("width", "100%").attr("height", "500px").addClass("show");
      modal.style.display = "block";
    });

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
  });
</script>


<script type="text/javascript">
  tinyMCE.init({
    selector: 'textarea',
     width: "100%",
     height: 250,
     mode: "textareas",
     plugins: [
        "advlist autolink lists link image charmap print preview hr anchor pagebreak code",
        "searchreplace wordcount visualblocks visualchars code fullscreen",
        "insertdatetime media nonbreaking save table directionality",
        "emoticons template paste textcolor colorpicker textpattern imagetools"
     ],
     toolbar: "bold italic underline | bullist numlist | link unlink | backcolor | table | fontsizeselect",
     menubar: false,
     statusbar:  false,
     browser_spellcheck: true
  });
</script>
