= styles_for :task
- if @view == "completed"
  - buckets = Setting.unroll(:task_completed)
  = render "title"
- else
  - buckets = Setting.unroll(:task_bucket)
  = render "title"

.log#tasks
  - buckets.each do |value, key|
    %div{ hidden_if(filtered_out?(@view, key)), :id => "list_#{key}" }
      / %h3{:class => key}= t(value)
      .bucket{:id => key}= render :partial => 'pending', :collection => @tasks || [], :locals => { :bucket => key }
  - if @tasks.values.flatten.blank?
    = render "empty"
  .cl
/ #export= render "shared/export"
- if false
  - unless @my_tasks.empty?
    = render :partial => "home/task", :collection => @my_tasks.limit(10)
    = show_hidden_entities_message(@my_tasks.count, 'task', 10)
  - else
    #{t :no_task_records}

