= styles_for :task
- if @view == "completed"
  - buckets = Setting.unroll(:task_completed)
  = render "title"
- else
  - buckets = Setting.unroll(:task_bucket)
  = render "title"

.log#tasks
  %table.company_table{ :cellpadding => "0", :cellspacing => "0" }
    %thead
      %tr
        %th
          Number
        %th
          Task Title
        %th
          Type
        %th
          Form
        %th
          Year
        %th
          Edutrust Item Number
        %th
          Due date
        %th
          Staff
        %th
          Status
        %th
          Action
    %tbody
      = render :partial => 'pending', :collection => @tasks || [], :locals => { :bucket => 'pending' }
  - if @tasks.values.flatten.blank?
    = render "empty"
  .cl
/ #export= render "shared/export"
- if false
  - unless @my_tasks.empty?
    = render :partial => "home/task", :collection => @my_tasks.limit(10)
    = show_hidden_entities_message(@my_tasks.count, 'task', 10)
  - else
    #{t :no_task_records}

#myModal.modal
  / Modal content
  .modal-content
    %span.close ×
    .wrapper
      .popup
        = simple_form_for "task", :url => tasks_task_protected_path, :method => :post, :remote => true do |f|
          %label 
            Input password to authenticate:
          %input{:type => "hidden", :name => "task_id", :id => "task_id" }  
          %input{:type => "password", :name => "task_password" }  
          = f.submit "Submit"

  / The Modal
/ #myModal.modal
/   / Modal content
/   .modal-content
/     %span.close ×
/     .wrapper
/       .popup
/         %iframe{:src => "", :class => "popuptext"}
/           %p Your browser does not support iframes.

:javascript
  $(document).ready( function() {
     // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementsByClassName("openpop");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal 
    $(".openpop").on("click", function(e) {
      //$("iframe").attr("src", $(this).data('url')).attr("width", "100%").attr("height", "500px").addClass("show");
      if ($(this).data("taskProtected") == true) {
        e.preventDefault();
        $("#task_id").val($(this).data("id"));
        modal.style.display = "block";
      }
    });

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
  });
