
<%= simple_form_for(@task, html: { :multipart => true }) do |f| %>
  <%#= link_to_close new_task_path + "?view=#{@view}" %>
  <%= link_to "X", tasks_path, :class => "close" %>
  <%= hidden_field_tag :view, @view %>
  <%= hidden_field_tag "task[user_id]", current_user.id %>
  <%= hidden_field_tag "task[asset_id]", "#{@asset.id if @asset}" %>
  <%= hidden_field_tag "task[asset_type]", "#{@asset.class if @asset}" %>
  <%= render "tasks/new_top_section",    :f => f %>
  <%= render "fields/groups", :f => f %>
    

  <% if action_name == "new" %>
    <div class="createPage ">
      <% @school_forms.each do |school_form| %>
        <% if school_form.id == 1 %>
          <div class="second">
          <%= radio_button("task", "form_number", "1") %> <label for="task_form_number_1"> <%= link_to 'Workflow', ''  %>  </label>
          </div>
        <% elsif school_form.id == 2 %>
          <div class="second">
           <%= radio_button("task", "form_number", "2") %> <label for="task_form_number_2"> <%= link_to 'Monitoring', '' %> </label>
          </div>
        <% elsif school_form.id == 3 %>
          <div class="second">
           <%= radio_button("task", "form_number", "3") %>  <label for="task_form_number_3"><%= link_to 'Approval',  '' %> </label>
          </div>
        <% end %>
      <% end %>
      <div class="second">
       <%= radio_button("task", "form_number", "4") %>  <label for="task_form_number_3" ><%= link_to 'Files',  '' %> </label>
      </div>
    
      <div class="cl"></div>

      <div class="parent_files">
        <div class="filesbox for_new blockForm2">
            <input type="file" name="files[0]">  <br />

            <a href="#" id="add_more_files" onclick="add_more_files()" data-count="1">Add More Files</a>
        </div>  
      </div>  
      <div class="parent_files1">
        <div class="filesbox for_new blockForm2">
            <input type="file" name="supplementary_files[0]">  <br />

            <a href="#" id="add_more_supplementary" onclick="add_more_supplementary_files()" data-count="1">Add More Supplementary Files</a>
        </div> 
      </div>
    </div>

  <% end %>
  <div class="createPageButtonbar">
    <%= f.submit t :create_task %>
    <span>or</span>
    <%#= link_to_cancel new_task_path + "?view=#{@view}" %>
    <%= link_to "Cancel", tasks_path %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready( function() {
 
$("#users_").on("select2:select", function (evt) {
  var element = evt.params.data.element;
  var $element = $(element);
  
  window.setTimeout(function () {  
  if ($("#users_").find(":selected").length > 1) {
    var $second = $("#users_").find(":selected").eq(-2);
    
    $element.detach();
    $second.after($element);
  } else {
    $element.detach();
    $("#users_").prepend($element);
  }
  
  $("#users_").trigger("change");
  }, 1);
});

$("#users_").on("select2:unselect", function (evt) {
  if ($("#users_").find(":selected").length) {
    var element = evt.params.data.element;
    var $element = $(element);
   $
   ("#users_").find(":selected").after($element); 
  }
});

  $(".createPage .second input").on("click", function() {
    var val = $(this).val();
    if (val == "4") {
      $(".parent_files, .parent_files1").show();
    } else {
      $(".parent_files, .parent_files1").hide();
    }
  });

});

function add_more_supplementary_files()
{

   val = $("#add_more_supplementary").data('count');
  
  
   randam = Math.floor((Math.random() * 100) + 1);
   str1 = "<input type='file' name=supplementary_files["+randam+"]> <br />" 
   $("#add_more_supplementary").before(str1)
   val = val + 1
   $("#add_more_supplementary").data('count', val);
    
  if (val == "10") {
    $("#add_more_supplementary").hide();
  }
}


function add_more_files()
{

   val = $("#add_more_files").data('count');
  
  
   randam = Math.floor((Math.random() * 100) + 1);
   str1 = "<input type='file' name=files["+randam+"]> <br />" 
   $("#add_more_files").before(str1)
   val = val + 1
   $("#add_more_files").data('count', val);
  
  if (val == "10") {
    $("#add_more_files").hide();
  }
}

</script>

