<table class="company_table report" border="0" cellspacing="0" cellpadding="0" width="100%">	
	<thead>
		<th>User</th>
	    <th>Event</th>
	    <th>Created At</th>
	    <th>Changes</th>
    </thead>
    <tbody>
		<% if current_user.is_super_admin? || current_user.is_admin? || current_user.is_manager? %>
			<% @tasks.versions.order(created_at: :desc).each do |version| %>
		    	<tr>
		    		<td><%=  version.user.full_name %></td>
					<td><%=  version.event %></td>
					<td><%=  version.created_at.strftime("%m/%d/%y") %></td>
					<td><%=  version.changeset %></td>
				</tr>
			<% end %>
			<% @tasks.form_first.form_first_histories.order(created_at: :desc).each do |version| %>
		    	<tr>
		    		<td><%=  version.id %></td>
					<td><%=  version.id %></td>
					<td><%=  version.created_at.strftime("%m/%d/%y") %></td>
					<td><%=  version.id %></td>
				</tr>
			<% end %>
			<% @tasks.form_second.form_second_histories.order(created_at: :desc).each do |version| %>
		    	<tr>
		    		<td><%=  version.id %></td>
					<td><%=  version.id %></td>
					<td><%=  version.created_at.strftime("%m/%d/%y") %></td>
					<td><%=  version.id %></td>
				</tr>
			<% end %>
			<% @tasks.thrid_form.thrid_form_histories.order(created_at: :desc).each do |version| %>
		    	<tr>
		    		<td><%=  version.id %></td>
					<td><%=  version.id %></td>
					<td><%=  version.created_at.strftime("%m/%d/%y") %></td>
					<td><%=  version.id %></td>
				</tr>
			<% end %>
        <% end %>
    </tbody>
</table>