<style type="text/css">
.s_trails label {font-weight: bold;}
.s_trails p {display: initial; margin: 0;}
</style>
<table class="company_table report" border="0" cellspacing="0" cellpadding="0" width="100%">	
	<thead>
		<th>User</th>
	    <th>Event</th>
	    <th>Created At</th>
	    <th>Changes</th>
    </thead>
    <tbody>
		<% if current_user.is_super_admin? || current_user.is_admin? || current_user.is_manager? %>
			<% @tasks.versions.order(created_at: :desc).each do |version| %>
		    	<tr>
		    		<td><%=  version.user.full_name %></td>
					<td><%=  version.event %></td>
					<td><%=  version.created_at.strftime("%m/%d/%y") %></td>
					<!-- <td><%#=  version.changeset %></td> -->
					<td class="s_trails">
					    <% if version.id.present? %>
					    	<label>ID : </label>
					        <%= version.id %>,
					    <% end %>
					    <% if version.item_type.present? %>
					    	<label>Item Type : </label>
					        <%= version.item_type %>,
					    <% end %>
					    <% if version.event.present? %>
					    	<label>Event : </label>
					        <%= version.event %>,
					    <% end %>
					    <!-- <%# if version.object.present? %>
					    	<label>Object : </label>
					        <%#= version.object %>,
					    <%# end %> -->
					    <% if version.created_at.present? %>
					    	<label>created At : </label>
					        <%= version.created_at %>,
					    <% end %>
					    <!-- <%# if version.object_changes.present? %>
					    	<label>Object changes : </label>
					        <%#= version.object_changes %>,
					    <%# end %> -->
					    <% if version.transaction_id.present? %>
					    	<label>Transaction Id : </label>
					        <%= version.transaction_id %>,
					    <% end %>
					</td>
				</tr>
			<% end %>
			<% @tasks.form_first.form_first_histories.order(created_at: :desc).each do |version| %>
		    	<tr>
					<td colspan="4" class="s_trails">
					   <h3>1st Changes for form</h3>
					    <% if version.name.present? %>
					    	<label>Name : </label>
					        <%= version.name.html_safe %> <br>
					    <% end %>
                        <% if version.name_of_applicant.present? %>
						    <label>Name of applicant : </label> 
						    <%= version.name_of_applicant.html_safe %> <br> 
                        <% end %>
                        <% if version.position_applied_for.present? %>
						    <label>position Applied For : </label> 
						    <%= version.position_applied_for.html_safe %> <br>
					    <% end %>
					    <% if version.part_a_first_interview_date.present? %>
						    <label>first Interview Date : </label>
						    <%= version.part_a_first_interview_date %> <br> 
					    <% end %>
					    <% if version.interviewer_comment_first.present? %>
						    <label>First Interviewer Comment : </label>
						    <%= version.interviewer_comment_first.html_safe %> <br> 
					    <% end %>
					    <% if version.interviewer_comment_second.present? %>
						    <label>Second Interviewer Comment : </label>
						    <%= version.interviewer_comment_second.html_safe %> <br>
					    <% end %>
					    <% if version.interviewer_comment_others.present? %>
					        <label>Others Interviewer Comment : </label>
					    	<%= version.interviewer_comment_others.html_safe %> <br> 
					    <% end %>
					    <% if version.part_b_first_interview_date.present? %>
					        <label>part B First Interview Date : </label>
					    	<%= version.part_b_first_interview_date %> <br> 
					    <% end %>
					    <% if version.interviewer_comments.present? %>
					        <label>Interviewer Comments :</label>
					    	<%= version.interviewer_comments.html_safe %> <br> 
					    <% end %>
					    <% if version.part_c_name.present? %>
					        <label>Name :</label>
					    	<%= version.part_c_name.html_safe %> <br> 
					    <% end %>
					    <% if version.part_c_signature.present? %>
					        <label>Signature :</label>
					    	<%= version.part_c_signature %> <br> 
					    <% end %>
					    <% if version.part_c_date.present? %> 
						    <label>Date :</label>
						    <%= version.part_c_date %> <br> 
					    <% end %>
					    <% if version.company_id.present? %> 
						    <label>Company Id :</label>
						    <%= version.company_id %> <br> 
					    <% end %>
					    <% if version.user_id.present? %> 
						    <label>User Id :</label>
						    <%= version.user_id %> <br> 
					    <% end %>
					</td>
				</tr>
			<% end %>
			<% @tasks.form_second.form_second_histories.order(created_at: :desc).each do |version| %>
		    	<tr>
		    		<td colspan="4">
		    		    <h3> 2nd Changes for form</h3>
					    <% if version.name.present? %>
					    	<label>Name</label>
					        <%= version.name %> <br>
					    <% end %>
                        <% if version.module_title.present? %>
						    <label>Module Title : </label> 
						    <%= version.module_title %> <br> 
                        <% end %>
                        <% if version.course.present? %>
						    <label>Course : </label> 
						    <%= version.course %> <br>
					    <% end %>
					    <% if version.course_date.present? %>
						    <label>Course Date : </label>
						    <%= version.course_date %> <br> 
					    <% end %>
					    <% if version.module_toucht_by_id.present? %>
						    <label>module tought by: </label>
						    <%= version.module_toucht_by_id %> <br> 
					    <% end %>
					    <% if version.company_id.present? %>
						    <label>Company Id : </label>
						    <%= version.company_id %> <br>
					    <% end %>
					    <% if version.user_id.present? %>
					        <label>User Id : </label>
					    	<%= version.user_id %> <br> 
					    <% end %>
					    <% if version.task_id.present? %>
					        <label>Task Id</label>
					    	<%= version.task_id %> <br> 
					    <% end %>
		    		</td>
				</tr>
			<% end %>
			<% @tasks.thrid_form.thrid_form_histories.order(created_at: :desc).each do |version| %>
		    	<tr>
		    		<td colspan="4"> 
		    		    <h3> 3rd Changes for form</h3>
					    <% if version.module_title.present? %>
					    	<label>Module Title</label>
					        <%= version.module_title.html_safe %> <br>
					    <% end %>
                        <% if version.module_syllabus_no.present? %>
						    <label>module syllabus no : </label> 
						    <%= version.module_syllabus_no.html_safe %> <br> 
                        <% end %>
                        <% if version.course.present? %>
						    <label>Course : </label> 
						    <%= version.course.html_safe %> <br>
					    <% end %>
					    <% if version.module_toucht_by.present? %>
						    <label>Module toucht by</label>
						    <%= version.module_toucht_by.html_safe %> <br> 
					    <% end %>

					    <% if version.student_performance.present? %>
						    <label>Student performance : </label>
						    <%= version.student_performance.html_safe %> <br> 
					    <% end %>

					    <% if version.evaluation.present? %>
						    <label>Evaluation : </label>
						    <%= version.evaluation.html_safe %> <br>
					    <% end %>

					    <% if version.module_development.present? %>
					        <label>Module development : </label>
					    	<%= version.module_development.html_safe %> <br> 
					    <% end %>

					    <% if version.module_development_submitted_by.present? %>
					        <label>Module development submitted by</label>
					    	<%= version.module_development_submitted_by.html_safe %> <br> 
					    <% end %>

					    <% if version.module_development_submitted_date.present? %>
					        <label>Module development submitted date : </label>
					    	<%= version.module_development_submitted_date %> <br> 
					    <% end %>

					    <% if version.comments.present? %>
					        <label>Comments : </label>
					    	<%= version.comments.html_safe %> <br> 
					    <% end %>

					    <% if version.comments_name.present? %>
					        <label>Comments name : </label>
					    	<%= version.comments_name.html_safe %> <br> 
					    <% end %>

					    <% if version.comments_signature.present? %>
					        <label>Comments signature : </label>
					    	<%= version.comments_signature.html_safe %> <br> 
					    <% end %>

					    <% if version.comments_designation.present? %>
					        <label>Comments Designation : </label>
					    	<%= version.comments_designation.html_safe %> <br> 
					    <% end %>

					    <% if version.comments_date.present? %>
					        <label>Comments Date : </label>
					    	<%= version.comments_date %> <br> 
					    <% end %>

					    <% if version.task_id.present? %>
					        <label>Task Id : </label>
					    	<%= version.task_id %> <br> 
					    <% end %>
		    		</td>
				</tr>
			<% end %>
        <% end %>
    </tbody>
</table>