<%= simple_form_for(@company) do |f| %>
  <%= f.error_notification %>
  <fieldset>
  <legend><h4>School Field</h4></legend>  
  <div class="inputs">    
    <div class="blockForm">
      <label>Name</label>      
      <div class="span2">
       <%= f.text_field :name %>
      </div>
    </div> 
    <div class="blockForm last">
      <label>Address1</label>      
      <div class="span2">
       <%= f.text_field :address1 %>
      </div>
    </div> 
    <div class="blockForm">
      <label>Address2</label>      
      <div class="span2">
       <%= f.text_field :address2 %>
      </div>
    </div>
    <div class="blockForm last">
      <label>City</label>      
      <div class="span2">
       <%= f.text_field :city %>
      </div>
    </div> 
    <div class="blockForm">
      <label>Country</label>      
      <div class="span2">
       <%= f.text_field :country %>
      </div>
    </div>
    <div class="blockForm last">
      <label>Prime Contact</label>      
      <div class="span2">
       <%= f.text_field :prime_contact %>
      </div>
    </div> 
    <div class="blockForm">
      <label>Prime Phone Number</label>      
      <div class="span2">
       <%= f.text_field :prime_phone_number %>
      </div>
    </div>    
    <%#= f.text_field :status %>
    <div class="cl"></div>
  </div>
  </fieldset>
  <% if controller.action_name == "new" || controller.action_name == "create" %>
  <div class="cl"></div>
  <fieldset>
  <legend><h4>Admin Field</h4></legend>
  <div class="inputs">
    <div class="blockForm">
      <label>First Name</label>      
      <div class="span2">
       <%= text_field_tag 'user[first_name]' %>
      </div>
    </div>
    <div class="blockForm last">
      <label>Last Name</label>      
      <div class="span2">
       <%= text_field_tag 'user[last_name]' %>
      </div>
    </div>
    <div class="blockForm">
      <label>Email</label>     
      <div class="span2">
       <%= text_field_tag 'user[email]' %>
      </div>
    </div>
    <div class="blockForm last">
      <label>Phone</label>     
      <div class="span2">
       <%= text_field_tag 'user[phone]' %>
      </div>
    </div>
    <div class="blockForm">
      <label>Password</label>     
      <div class="span2">
       <%= password_field_tag 'user[password]' %>
      </div>
    </div>
   <div class="cl"></div> 
  </div>
  </fieldset>
  <% end %>

  <div class="row">
    <div class="actions buttonbar">
      <%= f.button :submit, "Save School" %>
    </div>
  </div>
<% end %>
