<%= simple_form_for(@company) do |f| %>
  <%= f.error_notification %>
  <h5>Company Field</h5>
  <div class="inputs">
     <label>Name</label>
    <%= f.text_field :name %>
     <label>Address1</label>
    <%= f.text_field :address1 %>
     <label>Address2</label>
    <%= f.text_field :address2 %>
     <label>City</label>
    <%= f.text_field :city %>
      <label>Country</label>
    <%= f.text_field :country %>
      <label>Prime Contact</label>
    <%= f.text_field :prime_contact %>
      <label>Prime Phone Number</label>
    <%= f.text_field :prime_phone_number %>
    <%#= f.text_field :status %>
  </div>
  <h5>Admin Field</h5>
  <div class="inputs">
    <label>First Name</label>
    <%= text_field_tag 'user[first_name]' %>
  </div>
  <div class="inputs">
    <label>Last Name</label>
    <%= text_field_tag 'user[last_name]' %>
  </div>
    <div class="inputs">
    <label>Email</label>
    <%= text_field_tag 'user[email]' %>
  </div>
    <div class="inputs">
    <label>Phone</label>
    <%= text_field_tag 'user[phone]' %>
  </div>
  <div class="inputs">
    <label>Password</label>
    <%= password_field_tag 'user[password]' %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
