<p id="notice"><%= notice %></p>
<div class="companies">
<div class="left_part">
  <%= render partial: 'search_form', object: @search %>
</div>
<div class="right_part">
  <div class="title">
    <h1>Schools Lists</h1>
    <%= link_to 'Create New School', new_company_path, :class => "button new_school" %>
  </div>
  
<table class="company_table"  border="0" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Admin</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>City</th>
      <th>Country</th>
      <th>Prime contact</th>
      <th>Prime phone number</th>
      <th>Status</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.admin_id %></td>
        <td><%= company.address1 %></td>
        <td><%= company.address2 %></td>
        <td><%= company.city %></td>
        <td><%= company.country %></td>
        <td><%= company.prime_contact %></td>
        <td><%= company.prime_phone_number %></td>
        <td><%= company.status %></td>        
        <td class="edit"><i class="fa fa-edit" aria-hidden="true"></i><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Active', company, method: :delete, data: { confirm: 'Are you sure?' }, :class => "activeIco" %>
        <%= link_to 'Deactive ', company, method: :delete, data: { confirm: 'Are you sure?' }, :class => "deActiveIco" %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


</div>
</div>