<%= simple_form_for(@form_type) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :status %>
    <%= f.input :company_id %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
