<!-- <p id="notice"><%= notice %></p> -->
<div class="title report">
  <h1>Access On Forms</h1>
</div>
<table class="company_table" border="0" cellspacing="0" cellpadding="0" width="100%">
  <thead>
    <tr>
      <th>School form</th>
      <th>User's Who has access</th>
      <th></th>
      
    </tr>
  </thead>

  <tbody>
    <% @access_on_forms.each do |access_on_form| %>
      <tr>
        <td><%= SchoolForm.find(access_on_form.school_form_id).name %></td>
    
        <td>
          <% if access_on_form.users_id.present? %>
          <% access_on_form.users_id.uniq.each do |user_id| %>
            <%= User.find(user_id).name %>,
          <% end %>
          <% end %>
        </td>
        <td>
          <%= link_to "Edit", edit_access_on_form_path(access_on_form) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="createPageButtonbar">
<%= link_to 'New Access On Form', new_access_on_form_path, class: "submit" %>
</div>