<p id="notice"><%= notice %></p>

<p>
  <strong>School form:</strong>
  <%= SchoolForm.find(@access_on_form.school_form_id).name %>
</p>

<p>
  <strong>Company:</strong>
  <%= Company.find(@access_on_form.company_id).name %>
</p>

<p>
  <strong>Users:</strong>
  <%= @access_on_form.users_id %>
</p>

<%= link_to 'Edit', edit_access_on_form_path(@access_on_form) %> |
<%= link_to 'Back', access_on_forms_path %>
