<%= simple_form_for(@thrid_form) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :module_title %>
    <%= f.input :module_syllabus_no %>
    <%= f.input :course %>
    <%= f.input :module_toucht_by %>
    <%= f.input :relevent_information %>
    <%= f.input :student_performance %>
    <%= f.input :evaluation %>
    <%= f.input :module_development %>
    <%= f.input :module_development_submitted_by %>
    <%= f.input :module_development_submitted_date %>
    <%= f.input :comments %>
    <%= f.input :comments_name %>
    <%= f.input :comments_signature %>
    <%= f.input :comments_designation %>
    <%= f.input :comments_date %>
    <%= f.input :task_id %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
