<p id="notice"><%= notice %></p>

<p>
  <strong>Module title:</strong>
  <%= @thrid_form.module_title %>
</p>

<p>
  <strong>Module syllabus no:</strong>
  <%= @thrid_form.module_syllabus_no %>
</p>

<p>
  <strong>Course:</strong>
  <%= @thrid_form.course %>
</p>

<p>
  <strong>Module toucht by:</strong>
  <%= @thrid_form.module_toucht_by %>
</p>

<p>
  <strong>Relevent information:</strong>
  <%= @thrid_form.relevent_information %>
</p>

<p>
  <strong>Student performance:</strong>
  <%= @thrid_form.student_performance %>
</p>

<p>
  <strong>Evaluation:</strong>
  <%= @thrid_form.evaluation %>
</p>

<p>
  <strong>Module development:</strong>
  <%= @thrid_form.module_development %>
</p>

<p>
  <strong>Module development submitted by:</strong>
  <%= @thrid_form.module_development_submitted_by %>
</p>

<p>
  <strong>Module development submitted date:</strong>
  <%= @thrid_form.module_development_submitted_date %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @thrid_form.comments %>
</p>

<p>
  <strong>Comments name:</strong>
  <%= @thrid_form.comments_name %>
</p>

<p>
  <strong>Comments signature:</strong>
  <%= @thrid_form.comments_signature %>
</p>

<p>
  <strong>Comments designation:</strong>
  <%= @thrid_form.comments_designation %>
</p>

<p>
  <strong>Comments date:</strong>
  <%= @thrid_form.comments_date %>
</p>

<p>
  <strong>Task:</strong>
  <%= @thrid_form.task_id %>
</p>

<%= link_to 'Edit', edit_thrid_form_path(@thrid_form) %> |
<%= link_to 'Back', thrid_forms_path %>
