<div id="header">
  <div id="welcome">
    <% if current_user %>
      <span id="welcome_username">
       Welcome <%= current_user.name %>
      </span>
      <span> | </span>
      <%= link_to("Schools", companies_url) %> |
      <%= link_to("Tags", task_form_tags_path) %> |
      <%= link_to("Html Forms", school_forms_path) %> |
      <%= link_to(t(:profile), profile_path) %> | 
      <%= link_to(t(:logout), logout_path, :method => :delete) %>
      <%= render "/layouts/jumpbox" %>
    <% else %>
      <%= link_to(t(:login), login_path) %>
      <%= link_to(t(:sign_up), signup_path) if can_signup? %>
    <% end %>
  </div>
  <h3>
    <%= link_to("Educert Process Control System", root_path) %>
  </h3>
</div>
