<%= simple_form_for(@user_task) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :task_id %>
    <%= f.input :user_id %>
    <%= f.input :comments %>
    <%= f.input :files %>
    <%= f.input :position %>
    <%= f.input :task_status %>
    <%= f.input :approved_time %>
    <%= f.input :rejected_time %>
    <%= f.input :approved %>
    <%= f.input :rejected %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
